h1 {
    font: 50px "Courier New", sans-serif;
    background: linear-gradient(to bottom right,#d4e4ef, #86aecc); 
    color: #fff;
    text-transform: uppercase;
    padding: 75px 25px;
    text-align: center;
    margin: 0px;
  }

h2 {
    margin: 5px 0px;
    text-align: center;
    font-family: "Arial Black", sans-serif;
    font-size: 20px;
    color: #fff;
    background: linear-gradient(to left,#49a5e5, #5e89ac);
    border-radius:5px 5px 5px 5px
}

footer {
    margin: 8px;
    padding: 20px 20px;
    background: linear-gradient(to bottom right,#d4e4ef, #86aecc);
    text-align: center;
}

div:first-of-type {
    margin-left: auto;
    margin-right: auto;
    opacity: 0.3;
    width: 600px;
    height: 600px;
}

table {
    width: 100%;
    height: 100%;
}

td {
    width: 25%;
    height: 25%;
    background-color: black;
    border-radius: 5px;
    color: white;
    font-size: 40px;
    text-align: center;
    font-style: italic;
}

input {
    width: 90px;
    height: 30px;
}

p {
    font-family: "Verdana", sans-serif;
    font-size: 12px;
    text-align: center;
}

p:last-of-type input {
    height: 20px;
    width: 50px;
}



